.GalaxyControls {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: lightgrey;
  width: 100%;
  margin: auto;
  padding: 16px;
}

.GalaxyControls .ReviewBtn {
  display: block;
  font: inherit;
  padding: 12px;
  margin: 0 5px 32px;
  width: 200px;
  border: 1px solid green;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
}
