.GalaxyControls {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: lightgrey;
  width: 100%;
  margin: auto;
  padding: 16px;
}
