.BluePlanet {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: blue;
}

.RedPlanet {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: red;
}

.GreenPlanet {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: green;
}

.YellowPlanet {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: yellow;
}
